In [35]:
#1
empty_list = []
type(empty_list)

list

In [36]:
empty_list2 = list()
type(empty_list2)

list

In [37]:
empty_tuple = ()
type(empty_tuple)

tuple

In [38]:
empty_tuple2 =tuple()
type(empty_tuple2)

tuple

In [39]:
empty_dict = {}
type(empty_dict)

dict

In [40]:
empty_dict2 = dict()
type(empty_dict2)

dict

In [41]:
empty_set = set()
type(empty_set)

set

In [42]:
new_tuple = tuple({1})
type(new_tuple)

tuple

In [43]:
new_tuple2 = ( 1,)
type(new_tuple2)

tuple

In [44]:
#2
list1 = [1,2,3,4]
tuple(list1)

(1, 2, 3, 4)

In [45]:
my_tuple = (2,4,8,5)
list(my_tuple)

[2, 4, 8, 5]

In [46]:
set(my_tuple)

{2, 4, 5, 8}

In [47]:
myset =  {9,7,3,6}
list(myset)

[9, 3, 6, 7]

In [48]:
tuple(myset)

(9, 3, 6, 7)

In [49]:
#3
data = [(1,2), (2,3), (3,4)] 
my_dict = {}
my_dict = dict(data)
my_dict

{1: 2, 2: 3, 3: 4}

In [50]:
#4 
my_list = [1,2,3,1,5]
new_set = []
for item in my_list:
    if my_list.count(item) > 1:
        print(f"first repeated element is {item}")
        break
else:
    print(None)

first repeated element is 1

In [51]:
#5
my_list = [1,2,3,1,2,3,1,2,1]
my_set = set(my_list)
count = len(my_set)
my_dict =  {}
type(my_dict)
for i in my_set:
    my_dict[i] = my_list.count(i)
print(my_dict)

{1: 4, 2: 3, 3: 2}

In [52]:
# 6
list1 = [1,2,3,5,6,2,8,1,2]
list1 = list(set(list1))
list1

[1, 2, 3, 5, 6, 8]

In [53]:
#7
set1 = {'apple', 'banana', 'cherry'}
'banana' in set1

True

In [54]:
'berry' in set1

False

In [55]:
set1.add('orange')
set1

{'apple', 'banana', 'cherry', 'orange'}

In [56]:
set1.remove('banana')
set1

{'apple', 'cherry', 'orange'}

In [57]:
#8
set1 = {1, 2, 3, 4} 
set2 = {2, 3, 5}
set3 = set1 | set2
set4 = set1 & set2
set5 = set1.difference(set2)
print(f"Union of set1 and set2 is {set3}")
print(f"Intersection of set1 and set2 is {set4}")
print(f"Difference of set1 and set2 is {set5}")

Union of set1 and set2 is {1, 2, 3, 4, 5}
Intersection of set1 and set2 is {2, 3}
Difference of set1 and set2 is {1, 4}

In [58]:
#9
print(set1.issubset(set2))

False

In [59]:
print(set2.issuperset(set1))

False

In [60]:
#10
import json
data = {
 "company": {
 "name": "TechCorp",
 "employees": [
 {
 "id": 1,
 "name": "Alice",
 "department": "Development",
 "skills": ["Python", "Django", "React"],
 "salary": 75000
 },
 {
 "id": 2,
 "name": "Bob",
 "department": "Development",
 "skills": ["Java", "Spring", "Angular"],
 "salary": 70000
 },
 {
 "id": 3,
 "name": "Charlie",
 "department": "Marketing",
 "skills": ["SEO", "Content Writing"],
 "salary": 60000
 }
 ],
 "location": {
 "city": "New York",
 "country": "USA"
 },
 "products": [
 {"id": "P1", "name": "ProductA", "price": 120.50},
 {"id": "P2", "name": "ProductB", "price": 80.75}
 ]
 }
 }

file = open("text.json",'w')
json.dump(data,file)
file.close()

In [61]:
#11
file = open("text.json")
print( json.load(file) == data)
file.close()

True

In [62]:
from datetime import datetime
data['last_updated'] = str(datetime.now())
file =open("text.json",'w')
json.dump(data,file)
file.close()

In [63]:
data['company']['employees'].append({
    'id': 4 ,
    'name': 'Peter',
    'department': 'Marketing',
    'skills': ['Python', 'Django', 'React','c#','Nextjs'],
    'salary': 80000})
data

{'company': {'name': 'TechCorp',
  'employees': [{'id': 1,
    'name': 'Alice',
    'department': 'Development',
    'skills': ['Python', 'Django', 'React'],
    'salary': 75000},
   {'id': 2,
    'name': 'Bob',
    'department': 'Development',
    'skills': ['Java', 'Spring', 'Angular'],
    'salary': 70000},
   {'id': 3,
    'name': 'Charlie',
    'department': 'Marketing',
    'skills': ['SEO', 'Content Writing'],
    'salary': 60000},
   {'id': 4,
    'name': 'Peter',
    'department': 'Marketing',
    'skills': ['Python', 'Django', 'React', 'c#', 'Nextjs'],
    'salary': 80000}],
  'location': {'city': 'New York', 'country': 'USA'},
  'products': [{'id': 'P1', 'name': 'ProductA', 'price': 120.5},
   {'id': 'P2', 'name': 'ProductB', 'price': 80.75}]},
 'last_updated': '2025-01-08 17:12:10.853887'}

In [64]:

data['last_updated'] =str(datetime.now())
file =open("text.json",'w')
json.dump(data,file)
file.close()

In [65]:
file = open("text.json")
data = json.load(file)
file.close()
for employees in data['company']['employees']:
    employees['salary'] *= 1.1

file = open("text.json",'w')
data['last_updated'] = str(datetime.now())
json.dump(data,file)

file.close()

In [66]:
file = open("text.json")
data = json.load(file)
file.close()
for employee in data['company']['employees']:
    if ('Python' or 'python') not in employee['skills']:
        employee['skills'].append("Python")
        
file = open("text.json",'w')
data['last_updated'] = str(datetime.now())
json.dump(data,file)
file.close()

In [67]:
#12
my_list = [ i*i for i in range(1,11)]
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
#13
numbers = [1, 2, 3, 4, 5, 6,7, 8, 9, 10]
even_numbers = [ i for i in numbers if i % 2 == 0]
print(f"Even numbers are {even_numbers}")

Even numbers are [2, 4, 6, 8, 10]

In [70]:
#14
my_dict1 ={ i: i ** 3 for i in range(1,6)}
my_dict1

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [75]:
#15
sentence = "comprehensions are powerful."
vowel_string = {i for i in sentence if i in ['a','e','i','o','u']}
vowel_string

{'a', 'e', 'i', 'o', 'u'}

In [79]:
#16
students = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 63}
new_students = {key : value for key,value in students.items() if value > 80}
new_students

{'Alice': 85, 'Charlie': 92}

In [61]:
#17
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list(zip(list1,list2))

[(1, 4), (2, 5), (3, 6)]